zipp==3.6.0
wrapt==1.12.1
wheel==0.37.1
Werkzeug==1.0.0
urllib3==1.26.0
importlib-resources==5.4.0
idna==3.3 
tqdm==4.64.0
toposort==1.7
tldextract==2.2.2
termcolor==1.1.0
tensorboard==1.15.0
tensorflow==1.15.2
tensorflow-estimator==1.15.1
soupsieve==2.0
six==1.16.0
requests==2.27.1
regex==2022.4.24
requests-file==1.4.3
pytz==2019.3
python-dateutil==2.8.1
protobuf==3.11.3
opt-einsum==3.2.0
Markdown==3.2.1
nltk==3.6.7
numpy==1.19.5
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
h5py==2.10.0
gpt-2-simple==0.7.1
google-pasta==0.2.0 
gast==0.2.2
grpcio==1.46.0
charset-normalizer==2.0.12
chardet==3.0.4
certifi==2019.11.28
astor==0.8.1
absl-py==0.9.0
